
.footer-logo-and-socials{
 margin-bottom: 20px;
  }
  .footer-logo-container{
    margin-bottom: 20px;
  }

  .footer-socials-list{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #191970;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .subscribe-title{
font-weight: 300;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
text-align: center;
  }

  @media only screen and (max-width: 768px) {
    .footer-logo-container {
      display: none;
    }
    .footer-socials-list{
     justify-content: center;
     align-items: center;
     font-size: 17px;
     margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1028px) {
  .footer-logo-and-socials {
    display: flex;
    justify-content: space-between;
  }
  .footer-socials-list{
    font-weight: 600;
    letter-spacing: 0.04em;
  }
  .subscribe-title{
   font-size: 16px;
}
}