/*Mobile*/ 
.header-container{
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-logo, h2 {
  font-family: Impact;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #8B4513;
}
.second-part-logo{
  color: #191970;
}
.header-contacts{
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
}

/*Tablet*/
@media (min-width: 768px) {
  .header-contacts {
    font-size: 18px;
    font-weight: bold;
  }
}
/*Desktop*/
@media only screen and (min-width: 1280px) {
  .header-contacts {
   font-size: 20px;
  }
  .header-logo{
    font-size: 30px;
  }
}