/*Section About Myself*/
/*Galery / About Myself*/
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  
  .large-photo {
    margin-bottom: 20px;
  }
  
  .large-photo img {
    width: 100%;
    max-width: 700px;
  }
  
  .thumbnails {
    display: flex;
    gap: 10px;
  }
  
  .thumbnails img {
    width: 100px;
    height: auto;
    cursor: pointer;
  }

  /* Tablet styles */
  /*
@media (min-width: 768px) and (max-width: 1024px) {
  .gallery {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .large-photo {
    width: 50%;
    margin-right: 20px;
  }
  
  .large-photo img {
    max-width: 400px;
  }
  
  .thumbnails {
    flex-direction: column;
    align-items: center;
  }
  
  .thumbnails img {
    margin-bottom: 10px;
  }
}
 End of the gallery*/

/*Personal info*/
.personal{
    display: flex;
    flex-direction:column;
    gap: 30px;
}
.job-name {
    letter-spacing: 0.07em;
  }
  
  p {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.01em;
  }
  .intoduce-text{
    font-size: 17px;
  }
  .qualities-text{
    border: 2px solid #191970;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 5px #191970;
    font-style: italic;
  }
  .about-myself{
    margin-bottom: 80px;
   }
   /*End of Personal info and of section about myself*/
   /* Start of the section education*/
   svg {
    width: 34px;
    height: 34px;
  }
  .icon {
    stroke: #191970;
    fill: #191970;
  }
  .spacing{
    margin-bottom: 20px;
  }
  .institution{
font-family: sans-serif;
font-weight: 300;

line-height: 170%;
letter-spacing: 0.03em;
}

  .bold-style{
    font-weight: bold;
}
  
  .move-down{
    margin-bottom: 30px;
}
.link-active {
    transition: color 0.4s ease-in-out, font-size 0.4s ease-in-out; /*Перевірити чому font-size не працює*/
    transition: stroke 0.4s, ease-in-out, fill 0.4s ease-in-out;
  }
  
  .link-active:hover,
  .link-active:focus {
    color: #8B4513;
    font-size: 14px;
   
  }


.link-active:hover .icon,
.link-active:focus .icon {
  stroke: #8B4513;
  fill: #8B4513;
}
.icon-educ-section {
  margin-right: 10px; 
}
  
 
  /*End of the section education*/

  /*Start - experience*/
  .experience{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.icon-person{
  border: 1px solid #191970; /* Налаштуйте колір і ширину рамки */
  border-radius: 5px; /* Додайте закруглені кути */
  width: 30px;
  height: 30px;
   margin-bottom: -3px;
 
  
}
.icon-container {
  text-align: center; /* Вирівнюємо вміст контейнера по горизонталі */
  display: inline-flex; /* Робимо контейнер flex-контейнером */
  align-items: center; /* Вирівнюємо елементи по вертикалі (якщо потрібно) */

}
.inside-icon{
  transform: translateX(-1px);
}
.link-active:hover .icon-person path,
.link-active:focus .icon-person path {
  fill: #8B4513;
  stroke: #8B4513;
  transition: fill 0.3s ease;
  transition: stroke 0.3s ease;

}
.link-active:hover .icon-person,
.link-active:focus .icon-person {
  border: 2px solid #8B4513;
  transition: border 0.3s ease;
}