
/* About myself - Galery*/
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  .large-photo {
    margin-bottom: 20px;
  }
  .large-photo img {
    width: 100%;
    
  }
  .thumbnails {
    display: flex;
    gap: 10px;
  }
   .thumbnails img {
    width: 100px;
    height: auto;
    cursor: pointer;
  }

/* Tablet styles */
  
  @media (min-width: 768px) {
    .gallery {
      display: flex;
      flex-direction: row;
      gap: 20px;
     }
    .large-photo {
      width: 50%;
    }
    
    .thumbnails {
     width: 50%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
      
    }
   .smallPhoto {
      width: 150px !important;
      height: auto !important;
    }
    
  }
  /*Desktop style*/
  @media (min-width: 1280px){
    .gallery {
      display: flex;
      flex-direction: row;
      gap: 20px;
     }
    .large-photo {
      width: 42%;
    }
    
    .thumbnails {
     width: 50%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
      
    }
   .smallPhoto {
    width: calc(60% - 5px);
    width: 235px !important;
    height: auto;
}
  } /*End of the gallery*/
/*Personal info*/
.personal{
    display: flex;
    flex-direction:column;
    gap: 30px;
}
.job-name {
    letter-spacing: 0.07em;
  }
  
  p {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.01em;
  }
  .intoduce-text{
    font-size: 17px;
  }
  .qualities-text{
    border: 2px solid #191970;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 5px #191970;
    font-style: italic;
  }
  .about-myself{
    margin-bottom: 80px;
   }
/* Tablet styles */
  @media (min-width: 768px) {
  .job-name{
  text-align: center;
  font-size: 30px;
  }
  .hero-text{
font-weight: 400;
font-size: 20px;
line-height: 160%;
letter-spacing: 0.01em;
text-transform: uppercase;
text-align: center;
  }
  .qualities-text{
    text-align: center;
    font-size: 18px;
  }
}
/*Desktop*/
@media only screen and (min-width: 1280px) {
   .job-name{
    font-size: 35px;
  }
  .hero-text{
    font-weight: 600;
    line-height: 200%;
  }
  .qualities-text{
    font-size: 20px;
    line-height: 150%;
    font-weight: 540;
  }
}
/*End of Personal info and of section about myself*/
/* Start of the section education*/
   svg {
    width: 34px;
    height: 34px;
  }

  .icon {
    stroke: #191970;
    fill: #191970;
  }
  .spacing{
    margin-bottom: 20px;
  }
  .institution{
font-family: sans-serif;
font-weight: 300;

line-height: 170%;
letter-spacing: 0.03em;
}

  .bold-style{
    font-weight: bold;
    letter-spacing: 0;
}
.italics{
  letter-spacing: 0;
  font-style: italic;
}
.uni-list{
  letter-spacing: 0;
}
  .education-text{
    margin-bottom: 30px;
}
.link-active {
    transition: color 0.4s ease-in-out, font-size 0.4s ease-in-out; /*Перевірити чому font-size не працює*/
    transition: stroke 0.4s, ease-in-out, fill 0.4s ease-in-out;
  }
  .link-active:hover,
  .link-active:focus {
    color: #8B4513;
    font-size: 14px;
  }
.link-active:hover .icon,
.link-active:focus .icon {
  stroke: #8B4513;
  fill: #8B4513;
}
.icon-educ-section {
  margin-right: 10px; 
}
@media (min-width: 768px){
  .education-text{
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.07em;
  }
  .lineBreak{
    display: initial;
  }
  .institution{
    font-size: 18px;
  }
  .spacing{
    margin-bottom: 40px;
  }
  .link-active:hover,
  .link-active:focus {
 font-size: 19px;
  }
}
/*Desktop*/
@media only screen and (min-width: 1280px) {
  .education-text{
    font-size: 35px;
  }
  .institution{
    font-size: 21px;
  }
  .spacing{
    margin-bottom: 60px;
}
.bold-style{
  font-size: 23px;
}
.link-active:hover,
.link-active:focus {
 font-size: 23px;
  }
  .lineBreak{
    display: initial;
  }
}
/*End of the section education*/
/*Start - experience*/
  .experience{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.icon-person{
  border: 1px solid #191970; /* Налаштуйте колір і ширину рамки */
  border-radius: 5px; /* Додайте закруглені кути */
  width: 30px;
  height: 30px;
   margin-bottom: -3px;
 }
.icon-container {
  text-align: center; /* Вирівнюємо вміст контейнера по горизонталі */
  display: inline-flex; /* Робимо контейнер flex-контейнером */
  align-items: center; /* Вирівнюємо елементи по вертикалі (якщо потрібно) */
}
.inside-icon{
  transform: translateX(-1px);
}
.link-active:hover .icon-person path,
.link-active:focus .icon-person path {
  fill: #8B4513;
  stroke: #8B4513;
  transition: fill 0.3s ease;
  transition: stroke 0.3s ease;

}
.link-active:hover .icon-person,
.link-active:focus .icon-person {
  border: 2px solid #8B4513;
  transition: border 0.3s ease;
}


/*Languages section - test*/

.language-trigger {
  cursor: pointer;
position: relative;
font-size: 20px;
margin-bottom: 60px;
margin-top: 60px;
font-weight: 600;
text-align: center;
  
}


.language-popup {
  background-color: transparent;
  border: none; /* removed border */
  box-shadow: none; /* removed box-shadow */
  display: none;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: auto; /* changed from 200px to auto */
}

.language-popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* added display: flex to make li elements inline */
  flex-wrap: wrap; /* added flex-wrap: wrap to make li elements wrap to next line */
}

.language-popup li {
  margin-right: 10px; /* added margin-right to separate li elements */
  margin-bottom: 0; /* removed margin-bottom */
  display: inline-flex; /* changed from flex to inline-flex */
  align-items: center;
}

.language-popup img {
  width: 23px;
  height: 23px;
  margin-right: 10px;
}

.language-trigger:hover .language-popup {
  display: block;
}